body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#map { height: 495px; 
       width: 800px;
       margin-left: 200px;
       margin-top: 30px;
     }
