html {height:100%;}

body {
  padding-top: 50px;
  font-size: 26px;
  background: url('../frontpage.jpg') no-repeat center center fixed; */
  display: compact;
  color: white;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.template {
  padding: 60px 15px;
  text-align: center;
  vertical-align: middle;
}

.template2 {
  padding: 0px 0px; 
  width:100%
}

.container_radio {
  padding-top: 190px;
  text-align: center;
}

.container-fluid{
  padding-left:13%;
  padding-right:13%;
  text-align: center;
}

.container_header{
  padding-top:20px;
  padding-bottom:20px;
  padding-left: 60px;
  text-align: center;
}


#map { height: 100%; 
       width: 100%;
       margin-top: 0;
       margin-bottom: 0;
       position:relative;
     }

.container{
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

.container_map{
  height: 600px;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  position: relative
}


.frontbtn{ margin-top:20px;
     }

.split-para      { 
  font-size: 35px;
  display:block;
  margin-left:0px;
}
  
.split-para span { 
  font-size: 35px;
  display:block;
  float:right;
  width:50%;
}

