<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Locals Know</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/template.css') }}" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container_header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="input"><p style='font-size: 25px'>Locals Know!</p></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#about">About</a></li> -->
            <li><a href="about">About</a></li
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<br><br>

     <div id="bg">
			<div class="bg-image" style="background-image: {{url_for('static', filename='paris.jpg')}}")" ;="">
			</div> 
	 </div>
	 
    <div class="template">
        <h3>Created by Kelsey Jiang</h2>
        <a href="https://github.com/KelseyJiang/mywebsite" target="_blank"><img src="{{ url_for('static', filename='css/icons/github.png') }}" width="46" height="46" alt="Twitter" /></a>
        <a href="https://www.linkedin.com/in/kelseyjiang" target="_blank"><img src="{{ url_for('static', filename='css/icons/linkedin.png') }}" width="55" height="48" alt="LinkedIn" /></a>
    </div>

{% block content %}
  <iframe src="https://www.slideshare.net/slideshow/embed_code/key/IXBTP1IX8bIn9B" frameborder="0"  width="800" height="600" scrolling="no" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

{% endblock content %}
<!-- 
     
    <div class="container">

      <div class="template">
          <p style='font-size: 100px; color: white'>Locals Know!</p>
          
      </div>

      <div class = "container_radio" align="center" valign="center" >
      <p style='font-size: 40px; color: white'>Discover Paris as: </p>
        <form action="/output" method="GET">
            <input type="radio" id = "language" name="language" value="english" style="margin-right: 13px"/> An English Speaker&#8194 
            <input type="radio" id = "language" name="language" value="french" style="margin-right: 13px"/>A French Speaker&#8194  
            <input type="radio" id = "language" name="language" value="locals" checked="checked" style="margin-right: 13px"/>  A Local &#8194
          <div class = "frontbtn" align="center" valign="center">
            <button type="submit" class="btn btn-primary btn-lg" ><h3>Go!</h3>
          </div>  
        </form>
      </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </div> <!~~ /.container~~>
 -->

   <!-- Photo Credit -->
    <div class="photo-credit" style="text-align:right; position: absolute; bottom: 0; right: 0; ">
        <p style='font-size: 15px; color: white'>Photo Credit: parisbytrain.com</p> 
    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--<script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="static/js/bootstrap.min.js"></script> -->
  </body>
</html>

